__pycache__/
firmware/.pio/
*.pyc
.env
venv/
.venv/
ml/data/*
!ml/data/metrics_log.json
ml/datasets/
*.joblib
*.pkl
*.h5
.ipynb_checkpoints/
.vscode/
.claude/
.DS_Store
physionet.org/
*.wav
*.dat
*.hea
